doctype
html
	head
		title #{title}
		link(rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css')
		link(rel='stylesheet' href='/style.css')
	body
		!= yield
		script(src='js/main.js')
